name: Lint

on:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          apt update && apt-get install -y make
          python -m pip install --upgrade pip
          pip install black flake8 isort

      - name: Lint
        run: |
          make lint
